body {
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
@font-face {
    font-family: "NotCourierSans";
    src: url(assets/fonts/NotCourierSans.otf);
    
  } 

#preCanvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1 1 70%;
    z-index: 1;
    position:relative;
    background-color: white;
}
#subCanvasContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
#canvasContainer {
    position:relative;
    background-color: white;
    
    /*margin: 10px 10px 10px 40px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.flex-container {
    display: flex;
    flex:1;
    background-color: white;
}
#buttons {
    background-color:gray;
    flex:1 1 30%;
}
#buttons p {
    font-family: notCourierSans;
    font-weight: bold;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
    color: white;
}

#buttons h3 {
    font-family: notCourierSans;
    font-weight: bold;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    color: white;
    font-size: x-large;
    background-color: rgb(88, 86, 86)

}
#buttons h2 {
    font-family: notCourierSans;
    font-weight: bold;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    color: white;
    font-size: x-large;
    background-color: rgb(88, 86, 86)

}


#upAndDown p {
    font-family: notCourierSans;
    min-height: 5px;
    display: inline;
}

#controls h3 {
    font-family: notCourierSans;
    font-weight: bold;
    border: 1px solid #333;

    position: relative;
    padding: auto;
    cursor: pointer;
    background-color: none;
    text-decoration: none;
    box-shadow: none;
    justify-content: center;
}




#link:hover {
    color: white;
    background-color: rgb(81, 79, 79);
    cursor: crosshair;
}
a:hover {
    color: white;
    background-color: rgb(81, 79, 79);
    cursor: crosshair;
}

.konvajs-content {
    /*background-color: #d6d6d6;*/
    
    margin: 1rem;
}
@font-face{
    font-family: "VCR";
    src: url(assets/fonts/VCR.ttf);
  }

