body {
margin: 0;
display: flex;
height: 100vh;
}

#canvasContainer {
    position:relative;
    background-color: white;
    flex:1 1 70%;
    z-index: 1;
    margin: 10px 10px 10px 40px;
}
.flex-container {
    display: flex;
    flex:1;
    background-color: white;
}
#buttons {
    background-color:black;
    flex:1 1 30%;
}
.konvajs-content {
    /*background-color: #d6d6d6;*/
    position:absolute;
    margin: auto;
    margin-top: 5%
}
