

#link {
  font-family: 'VCR';
  padding-top: 0.5rem; 
  padding-left: 0.5rem;
  text-decoration: underline;
  color: #4d6e56
}


@font-face {
    font-family: "NotCourierSans";
    src: url(assets/fonts/NotCourierSans.otf);
    
  }   
  @font-face {
    font-family: "Zara";
    src: url(assets/fonts/Zara-Regular.otf);
    
  }   
  @font-face {
    font-family: "Goozette";
    src: url(assets/fonts/Goozette.otf);
  }
  @font-face{
    font-family: "supah";
    src: url(assets/fonts/SuperNotoriousTordue.otf);
  }
  @font-face{
    font-family: "VCR";
    src: url(assets/fonts/VCR.ttf);
  }

  

  #link:hover {
    background-color: blanchedalmond;
    cursor: pointer;
  }