.subtitlesCool {
    font-family: helvetica; 
    font-style: italic; 
    position: relative;
    height:20%;
}




@font-face {
    font-family: "NotCourierSans";
    src: url(assets/fonts/NotCourierSans.otf);
    
  }   
  @font-face {
    font-family: "Zara";
    src: url(assets/fonts/Zara-Regular.otf);
    
  }   
  @font-face {
    font-family: "Goozette";
    src: url(assets/fonts/Goozette.otf);
  }
  @font-face{
    font-family: "supah";
    src: url(assets/fonts/SuperNotoriousTordue.otf);
  }

  .resetLines {
    color: gray;
  font: supah;
  }

  