

#link {
  font-family: 'VCR';
  padding-top: 0.5rem; 
  padding-left: 0.5rem;
  text-decoration: underline;
  color: #4d6e56
}
.subBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  height: 100vh;
}
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 60%;
  
  width: 60%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1.5;
  width: 50%;
}
.logoSubContainer {
  flex-grow: 1;
  padding: 1%;
  width: 100%;
  height: auto;
  position: relative;
}

.logo {
 padding: 0;
 margin: 0;
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
}
.logoModel {
  padding: 0;
  margin: 0;
  bottom: 20%;
  left: 25%;
  z-index: 2;
  transform: rotate(-20deg);
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: hidden;
  aspect-ratio: 1/1;
 
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
  width: 60%;
  height: 60%;
}
.linksHeader {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.5rem;
  font-style: italic;
  flex-grow: 0.5;
  padding: 0;
  margin: 0;
}
.rightSubContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}
.cat {
  position: absolute;
  width: 100%;
  height: 40%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
}
.link {
  font-family: 'NotCourierSans';
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
  color: #000000;


}

@font-face {
    font-family: "NotCourierSans";
    src: url(assets/fonts/NotCourierSans.otf);
    
  }   
  @font-face {
    font-family: "Zara";
    src: url(assets/fonts/Zara-Regular.otf);
    
  }   
  @font-face {
    font-family: "Goozette";
    src: url(assets/fonts/Goozette.otf);
  }
  @font-face{
    font-family: "supah";
    src: url(assets/fonts/SuperNotoriousTordue.otf);
  }
  @font-face{
    font-family: "VCR";
    src: url(assets/fonts/VCR.ttf);
  }

  

  #link:hover {
    background-color: blanchedalmond;
    cursor: pointer;
  }